section.irs-welcome-field
    .container
        .row
          .col-md-8.col-md-offset-2.text-center
            h1
              | Welcome To our 
              span Education Park
            i.icofont.icofont-education
            p
              | Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
    
section.irs-about-field
  .container
        .row
          .col-md-6.col-md-offset-3
            .irs-section-title
              h2
                | what 
                span we do
              .irs-title-line
                .irs-title-icon
                  i.icofont.icofont-education
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam est dolorem quaerat harum sequi, nesciunt consequatur magni voluptatem similique
        .row.animatedParent.animateOnce
          .col-md-4.col-sm-6
            .irs-about-box.animated.fadeInLeftShort.slow.delay-250
              .irs-about-icon
                i.icofont.icofont-university
              h4 modern campus
              p
                | Ut enim ad minim veniam, quis nostrud exercitation ulla laboris nisi ut aliquip ex ea commodo consequat
              a.btn.btn-default.irs-btn-transparent(href='#', role='button') Read More
          .col-md-4.col-sm-6
            .irs-about-box.animated.fadeInUpShort.slow.delay-500
              .irs-about-icon
                i.icofont.icofont-graduate-alt
              h4 graduate university
              p
                | Ut enim ad minim veniam, quis nostrud exercitation ulla laboris nisi ut aliquip ex ea commodo consequat
              a.btn.btn-default.irs-btn-transparent(href='#', role='button') Read More
          .col-md-4.col-sm-6
            .irs-about-box.animated.fadeInRightShort.slow.delay-250
              .irs-about-icon
                i.icofont.icofont-school-bus
              h4 bus service
              p
                | Ut enim ad minim veniam, quis nostrud exercitation ulla laboris nisi ut aliquip ex ea commodo consequat
              a.btn.btn-default.irs-btn-transparent(href='#', role='button') Read More
   
section.irs-divider-field.irs-layer-black
    .container
        .row
          .col-md-8.col-sm-12
            .irs-divider-col
              h2 we are very helpful
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          .col-md-4.col-sm-12
            .irs-divider-col
              h2 Call Us
              .irs-call-numbar
                h4
                  i.icofont.icofont-ui-call
                  |  +021 - 123 1012 1211
   
section.irs-courses-field
  .container
        .row
          .col-md-6.col-md-offset-3
            .irs-section-title
              h2
                | our 
                span courses
              .irs-title-line
                .irs-title-icon
                  i.icofont.icofont-education
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam est dolorem quaerat harum sequi, nesciunt consequatur magni voluptatem similique
        .row.animatedParent.animateOnce
          .col-md-4.col-sm-6
            .irs-courses-col.animated.fadeInLeftShort.slow.delay-250
              .irs-courses-img
                img(src='images/courses/1.jpg', alt='')
                .irs-time
                  p
                    a(href='#') 10:00 pm - 4:00 pm
                .irs-courses-img-text
                  ul.clearfix
                    li
                      p
                        i.zmdi.zmdi-calendar-alt
                        |  3 years
                    li.pull-right
                      p
                        i.zmdi.zmdi-money
                        |  290
              .irs-courses-content
                h4
                  a(href='#') Computer Science
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam est dolorem quaerat harum sequi, nesciunt consequatur
                a.btn.btn-default.irs-btn-transparent-two(href='#', role='button') read more
          .col-md-4.col-sm-6
            .irs-courses-col.animated.fadeInUpShort.slow.delay-500
              .irs-courses-img
                img(src='#', alt='')
                .irs-time
                  p
                    a(href='#') 10:00 pm - 4:00 pm
                .irs-courses-img-text
                  ul.clearfix
                    li
                      p
                        i.zmdi.zmdi-calendar-alt
                        |  3 years
                    li.pull-right
                      p
                        i.zmdi.zmdi-money
                        |  350
              .irs-courses-content
                h4
                  a(href='#') medical science
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam est dolorem quaerat harum sequi, nesciunt consequatur
                a.btn.btn-default.irs-btn-transparent-two(href='#', role='button') read more
          .col-md-4.col-sm-6
            .irs-courses-col.animated.fadeInRightShort.slow.delay-250
              .irs-courses-img
                img(src='images/courses/3.jpg', alt='')
                .irs-time
                  p
                    a(href='#') 10:00 pm - 4:00 pm
                .irs-courses-img-text
                  ul.clearfix
                    li
                      p
                        i.zmdi.zmdi-calendar-alt
                        |  3 years
                    li.pull-right
                      p
                        i.zmdi.zmdi-money
                        |  320
              .irs-courses-content
                h4
                  a(href='#') Geometry Course
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam est dolorem quaerat harum sequi, nesciunt consequatur
                a.btn.btn-default.irs-btn-transparent-two(href='#', role='button') read more
    
section.irs-counter-field.irs-layer-black
   .container
        .row
          .col-md-3.col-sm-6.col-xs-6
            .irs-counter-col
              i.icofont.icofont-users-alt-3
              .irs-funfact
                .start-count 52
                .clearfix
                h4 teachers
          .col-md-3.col-sm-6.col-xs-6
            .irs-counter-col
              i.icofont.icofont-education
              .irs-funfact
                .start-count 32
                .clearfix
                h4 courses
          .col-md-3.col-sm-6.col-xs-6
            .irs-counter-col
              i.icofont.icofont-group-students
              .irs-funfact
                .start-count 2025
                .clearfix
                h4 students
          .col-md-3.col-sm-6.col-xs-6
            .irs-counter-col
              i.icofont.icofont-university
              .irs-funfact
                .start-count 36
                .clearfix
                h4 EXPERIENCE
   
section.irs-gallery-field
    .container
        .row
          .col-md-6.col-md-offset-3
            .irs-section-title
              h2
                | Awesome 
                span gallery
              .irs-title-line
                .irs-title-icon
                  i.icofont.icofont-education
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam est dolorem quaerat harum sequi, nesciunt consequatur magni voluptatem similique
    .container-fluid
        .row
          .col-md-3.col-sm-6.irs-col-padd-less
            .irs-img-hover
              img(src='images/gallery/1.jpg', alt='')
              .irs-layer
                a.lightbox-image(href='images/gallery/1.jpg', data-fancybox-group='gallery', title='Gallery Photos')
                  i.zmdi.zmdi-loupe
          .col-md-3.col-sm-6.irs-col-padd-less
            .irs-img-hover
              img(src='images/gallery/2.jpg', alt='')
              .irs-layer
                a.lightbox-image(href='images/gallery/2.jpg', data-fancybox-group='gallery', title='Gallery Photos')
                  i.zmdi.zmdi-loupe
          .col-md-3.col-sm-6.irs-col-padd-less
            .irs-img-hover
              img(src='images/gallery/3.jpg', alt='')
              .irs-layer
                a.lightbox-image(href='images/gallery/3.jpg', data-fancybox-group='gallery', title='Gallery Photos')
                  i.zmdi.zmdi-loupe
          .col-md-3.col-sm-6.irs-col-padd-less
            .irs-img-hover
              img(src='images/gallery/4.jpg', alt='')
              .irs-layer
                a.lightbox-image(href='images/gallery/4.jpg', data-fancybox-group='gallery', title='Gallery Photos')
                  i.zmdi.zmdi-loupe
        .row
          .col-md-3.col-sm-6.irs-col-padd-less
            .irs-img-hover
              img(src='images/gallery/5.jpg', alt='')
              .irs-layer
                a.lightbox-image(href='images/gallery/5.jpg', data-fancybox-group='gallery', title='Gallery Photos')
                  i.zmdi.zmdi-loupe
          .col-md-3.col-sm-6.irs-col-padd-less
            .irs-img-hover
              img(src='images/gallery/6.jpg', alt='')
              .irs-layer
                a.lightbox-image(href='images/gallery/6.jpg', data-fancybox-group='gallery', title='Gallery Photos')
                  i.zmdi.zmdi-loupe
          .col-md-3.col-sm-6.irs-col-padd-less
            .irs-img-hover
              img(src='images/gallery/7.jpg', alt='')
              .irs-layer
                a.lightbox-image(href='images/gallery/7.jpg', data-fancybox-group='gallery', title='Gallery Photos')
                  i.zmdi.zmdi-loupe
          .col-md-3.col-sm-6.irs-col-padd-less
            .irs-img-hover
              img(src='images/gallery/8.jpg', alt='')
              .irs-layer
                a.lightbox-image(href='images/gallery/8.jpg', data-fancybox-group='gallery', title='Gallery Photos')
                  i.zmdi.zmdi-loupe
   
section.irs-teachers-field
    .container
        .row
          .col-md-6.col-md-offset-3
            .irs-section-title
              h2
                | Our 
                span teachers
              .irs-title-line
                .irs-title-icon
                  i.icofont.icofont-education
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam est dolorem quaerat harum sequi, nesciunt consequatur magni voluptatem similique
        .row.animatedParent.animateOnce
          .col-md-3.col-sm-6
            .irs-teachers-col.animated.fadeInUpShort.slow.delay-250
              a(href='#')
                img(src='images/teachers/1.jpg', alt='')
              .irs-teachers-name
                h4
                  a(href='#') Rosi Jqulin
                p math teacher
              .irs-teachers-social
                a(href='#')
                  i.zmdi.zmdi-facebook
                a(href='#')
                  i.zmdi.zmdi-vimeo
                a(href='#')
                  i.zmdi.zmdi-pinterest
                a(href='#')
                  i.zmdi.zmdi-twitter
          .col-md-3.col-sm-6
            .irs-teachers-col.animated.fadeInUpShort.slow.delay-500
              a(href='#')
                img(src='images/teachers/2.jpg', alt='')
              .irs-teachers-name
                h4
                  a(href='#') Ross Taylor
                p english teacher
              .irs-teachers-social
                a(href='#')
                  i.zmdi.zmdi-facebook
                a(href='#')
                  i.zmdi.zmdi-vimeo
                a(href='#')
                  i.zmdi.zmdi-pinterest
                a(href='#')
                  i.zmdi.zmdi-twitter
          .col-md-3.col-sm-6
            .irs-teachers-col.animated.fadeInUpShort.slow.delay-750
              a(href='#')
                img(src='images/teachers/3.jpg', alt='')
              .irs-teachers-name
                h4
                  a(href='#') Jessi Taylor
                p chemistry teacher
              .irs-teachers-social
                a(href='#')
                  i.zmdi.zmdi-facebook
                a(href='#')
                  i.zmdi.zmdi-vimeo
                a(href='#')
                  i.zmdi.zmdi-pinterest
                a(href='#')
                  i.zmdi.zmdi-twitter
          .col-md-3.col-sm-6
            .irs-teachers-col.animated.fadeInUpShort.slow.delay-1000
              a(href='#')
                img(src='images/teachers/4.jpg', alt='')
              .irs-teachers-name
                h4
                  a(href='#') Julio Jesus
                p history teacher
              .irs-teachers-social
                a(href='#')
                  i.zmdi.zmdi-facebook
                a(href='#')
                  i.zmdi.zmdi-vimeo
                a(href='#')
                  i.zmdi.zmdi-pinterest
                a(href='#')
                  i.zmdi.zmdi-twitter
   
section.irs-testimonial-field.irs-layer-black
    img(src='images/students.png', alt='')
    .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2
            .testimonial-carousel
              .item
                .irs-transparent-space
                .irs-testimonial-single
                  .irs-comment-icon
                    i.icofont.icofont-quote-right
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin didunt ut labore.
                  h4 Julio Jesus
                  h5 Principal, ABC UNIVERSITY
              .item
                .irs-transparent-space
                .irs-testimonial-single
                  .irs-comment-icon
                    i.icofont.icofont-quote-right
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin didunt ut labore.
                  h4 Martin Jons
                  h5 Principal, ABC UNIVERSITY
              .item
                .irs-transparent-space
                .irs-testimonial-single
                  .irs-comment-icon
                    i.icofont.icofont-quote-right
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin didunt ut labore.
                  h4 Fadrid Jons
                  h5 Principal, ABC UNIVERSITY

section.irs-blog-field
    .container
        .row
          .col-md-6.col-md-offset-3
            .irs-section-title
              h2
                | latest 
                span blog
              .irs-title-line
                .irs-title-icon
                  i.icofont.icofont-education
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam est dolorem quaerat harum sequi, nesciunt consequatur magni voluptatem similique
        .row.animatedParent.animateOnce
          .col-md-4.col-sm-6
            .irs-courses-col.irs-blog-col.animated.fadeInLeftShort.slow.delay-250
              .irs-courses-img
                img(src='images/blog/1.jpg', alt='')
              .irs-info-text
                ul.clearfix
                  li
                    p
                      i.icofont.icofont-clock-time
                      a(href='#') 14 Sep 2017
                  li
                    p
                      i.icofont.icofont-open-eye
                      a(href='#') 65
                  li
                    p
                      i.icofont.icofont-comment
                      a(href='#') 40
              .irs-courses-content
                h4
                  a(href='#') Our system of education
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin didunt ut labore et dolore magna aliqua.
                a.btn.btn-default.irs-btn-transparent-two(href='#', role='button') read more
          .col-md-4.col-sm-6
            .irs-courses-col.irs-blog-col.animated.fadeInUpShort.slow.delay-500
              .irs-courses-img
                img(src='images/blog/2.jpg', alt='')
              .irs-info-text
                ul.clearfix
                  li
                    p
                      i.icofont.icofont-clock-time
                      a(href='#') 14 Sep 2017
                  li
                    p
                      i.icofont.icofont-open-eye
                      a(href='#') 65
                  li
                    p
                      i.icofont.icofont-comment
                      a(href='#') 40
              .irs-courses-content
                h4
                  a(href='#') Our system of education
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin didunt ut labore et dolore magna aliqua.
                a.btn.btn-default.irs-btn-transparent-two(href='#', role='button') read more
          .col-md-4.col-sm-6
            .irs-courses-col.irs-blog-col.animated.fadeInRightShort.slow.delay-250
              .irs-courses-img
                img(src='images/blog/3.jpg', alt='')
              .irs-info-text
                ul.clearfix
                  li
                    p
                      i.icofont.icofont-clock-time
                      a(href='#') 14 Sep 2017
                  li
                    p
                      i.icofont.icofont-open-eye
                      a(href='#') 65
                  li
                    p
                      i.icofont.icofont-comment
                      a(href='#') 40
              .irs-courses-content
                h4
                  a(href='#') Our system of education
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin didunt ut labore et dolore magna aliqua.
                a.btn.btn-default.irs-btn-transparent-two(href='#', role='button') read more
   
section.irs-newsletter-field
    .container
        .row
          .col-md-6.col-sm-6
            .irs-newsletter-col
              img(src='images/newsletter.jpg', alt='')
          .col-md-6.col-sm-6
            .irs-newsletter-col
              h2 Subscribe our newsletter
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.Lorem ipsum dolor sit amet
              form
                .input-group
                  input.form-control(placeholder='Your Email Address', name='search-field', type='text')
                  span.input-group-btn
                    button.btn(type='submit') Subscribe