footer.irs-footer-field
  .container
        .row.animatedParent.animateOnce.animateOnce
          .col-md-3
            .irs-footer-about
              img.irs-foooter-logo(src='images/footer-logo.png', alt='')
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin eiusmodtin didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
              .irs-social
                a(href='#')
                  i.icofont.icofont-social-facebook
                a(href='#')
                  i.icofont.icofont-social-twitter
                a(href='#')
                  i.icofont.icofont-social-vimeo
                a(href='#')
                  i.icofont.icofont-brand-linkedin
          .col-md-2
            .irs-footer-link
              h4.irs-footer-heading Useful Links
              ul
                li
                  a(href='#') Home
                li
                  a(href='#') About Us
                li
                  a(href='#') Courses
                li
                  a(href='#') Teachers
                li
                  a(href='#') Contact Us
          .col-md-4
            .irs-footer-tweets
              h4.irs-footer-heading RECENT TWEETS
              .irs-tweets
                i.fa.fa-twitter(aria-hidden='true')
                p
                  a(href='#') @UNIVERSITY
                  |  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin.
                a(href='#') about 5 min ago
              .irs-tweets
                i.fa.fa-twitter(aria-hidden='true')
                p
                  a(href='#') @UNIVERSITY
                  |  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin.
                a(href='#') about 5 min ago
          .col-md-3
            .irs-footer-contact
              h4.irs-footer-heading Contact Us
              img(src='images/footer.jpg', alt='')
              .irs-mailbox
                p
                  i.zmdi.zmdi-email
                  |  Mail: yourmail@gmail.com
                p
                  i.zmdi.zmdi-gps-dot
                  |  678 Zoomtowr, Main road, Canada
section.irs-copyright-field
  .container
    .row
      .col-sm-12
        .irs-copyright
          p
            | Copyright© 2017. Design by 
            a(href='#') Farid team  