header.irs-main-header
    .irs-header-top-bar
        .container
          .row
            .col-md-2.col-sm-4
              .irs-header-top-col.irs-center-2
                p
                  i.fa.fa-phone(aria-hidden='true')
                  |  +021 - 123 1012 1211
            .col-md-2.col-sm-4
              .irs-header-top-col.irs-center-2
                p
                  i.fa.fa-clock-o(aria-hidden='true')
                  |  10:00 AM - 4:00 PM
            .col-md-3.col-md-offset-5.col-sm-4
              .irs-header-top-col.text-right.irs-center-2
                .irs-social.text-right.irs-center-2
                  a(href='#')
                    i.icofont.icofont-social-facebook
                  a(href='#')
                    i.icofont.icofont-social-twitter
                  a(href='#')
                    i.icofont.icofont-social-vimeo
                  a(href='#')
                    i.icofont.icofont-brand-linkedin
    .irs-header-nav.scrollingto-fixed
        .container
          .row
            .col-md-10.col-sm-12
              nav.navbar.navbar-default.irs-navbar
                .container-fluid
                  // Brand and toggle get grouped for better mobile display
                  .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                    a.navbar-brand(href='#')
                      img(src='images/logo.png', alt='')
                  // Collect the nav links, forms, and other content for toggling
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right(data-hover='dropdown', data-animations='flipInY')
                      li.dropdown.active
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                          | Home 
                          i.fa.fa-angle-down
                        ul.dropdown-menu
                          li
                            a(href='#') Home One
                          li
                            a(href='#') Home Two
                      li
                        a(href='#') About
                      li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                          | Courses 
                          i.fa.fa-angle-down
                        ul.dropdown-menu
                          li
                            a(href='#') Courses Grid
                          li
                            a(href='#') Courses left sidebar
                          li
                            a(href='#') Courses right sidebar
                          li
                            a(href='#') course single
                      li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                          | Teachers 
                          i.fa.fa-angle-down
                        ul.dropdown-menu
                          li
                            a(href='#') Our teachers
                          li
                            a(href='#') Teacher single
                      li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                          | Blog 
                          i.fa.fa-angle-down
                        ul.dropdown-menu
                          li
                            a(href='#') Blog Grid
                          li
                            a(href='#') Blog Single
                      li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                          | Pages 
                          i.fa.fa-angle-down
                        ul.dropdown-menu
                          li
                            a(href='#') Services
                          li
                            a(href='#') My account
                          li
                            a(href='#') faq
                          li
                            a(href='#') 404
                      li
                        a(href='#') Contact
                  // /.navbar-collapse
                  // /.container-fluid
            .col-md-2.col-sm-12
              .irs-log-reg
                a(href='#') Login
                span /
                a(href='#') Register  