section.irs-main-slider
    #bs-carousel.carousel.fade-carousel.slide(data-ride='carousel', data-interval='4000')
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#bs-carousel', data-slide-to='0')
          li(data-target='#bs-carousel', data-slide-to='1')
          li(data-target='#bs-carousel', data-slide-to='2')
        // Wrapper for slides
        .carousel-inner
          .item.slides.active
            .slide-1
            .hero
              span learn and build your life
              h1
                | gain knowledge from 
                strong education park
              a.btn.btn-default.irs-big-btn(href='#', role='button') Register
          .item.slides
            .slide-2
            .hero
              span learn and build your life
              h1
                | gain knowledge from 
                strong education park
              a.btn.btn-default.irs-big-btn(href='#', role='button') Register
          .item.slides
            .slide-3
            .hero
              span learn and build your life
              h1
                | gain knowledge from 
                strong education park
              a.btn.btn-default.irs-big-btn(href='#', role='button') Register